<%= render partial: 'conversations' %>
<script type="text/javascript">
function sendMessage() {
  var content = document.getElementById("message").value
  var msg_history = document.getElementById("msg_history")
  msg_history.innerHTML += '<div class="outgoing_msg">\
          <div class="sent_msg">\
            <p>'+content+'</p>\
          </div>\
        </div>'
  msg_history.scrollTop = msg_history.scrollHeight;

  // document.getElementById("message").value = "";
}</script>
<div class="mesgs">
  <div class="msg_history" id="msg_history">
    <% @messages.each do |message| %>
      <% if message.sender.id == BOT_ID%>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p><%= message.content%></p>
          </div>
        </div>
      <% else %>

        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p><%= message.content%></p>
              <span class="time_date">By: <%= message.sender.full_name %></span></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <%= form_with model: @message, remote: true, method: :post, html: {id: "message_form"} do |form| %>

        <input type="text" id="message" name="message" class="write_msg" placeholder="Type a message" />
        <input type="hidden" id="conversation_id" name="conversation_id" class="write_msg" placeholder="Type a message" value="<%= @conversation.id %>" />
        <%= form.submit "Send", class: 'btn btn-primary chat-input', onclick: "sendMessage()" %>
      <% end %>
    </div>
  </div>
</div>